<hr>
<h2>Gym Classes</h2>
<hr>

<table>
  <tr>
    <th>Class</th>
    <th>Capacity</th>
    <th>Instructor</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><a href="/gymclasses/<%= gymclass.id %>"><%= gymclass.gymclass_name %></a></td>

    <td align = "center"><%= gymclass.capacity %></td>
    <td align = "center"><%= gymclass.instructor %></td></td>

  </tr>

  <% end %>
</table>

<br>

<a href="/bookedclasses/new">Book a class!</a>

<br>
<hr>

<h3>Admin</h3>
<a href="/gymclasses/new">Create a new gym class</a>

<hr>
