<h2>Add a new class</h2>

<hr>

<form method="post" action="/gymclasses">

<label for="gymclass_name">Name:</label>
  <input
  type="text" name="gymclass_name"id="gymclass_name" />
<br>
<br>
<label for="instructor">Instructor:</label>
<select type="text" name="instructor" id ="instructor">
<option value="Alex">Alex</option>
<option value="Colin">Colin</option>
<option value="Del">Del</option>
<option value="Sian">Sian</option>
</select>
<br>
<br>
  <label for="capacity">Capacity:</label>
    <input type="number" name="capacity" id="capacity"/>
<br>
<br>
  <label for="start_time">Start Time:</label>
  <input type="datetime-local" name="start_time" id="start_time"/>
<br>
<br>
  <label for="end_time">End Time:</label>
  <input type="datetime-local" name="end_time" id="end_time"/>
  <br>
  <br>
  <label for="member_tier">Membership Tier:</label>
  <input type="radio" name="member_tier" value="Premium"> Premium
  <input type="radio" name="member_tier" value="Basic"> Basic
<br>
<br>
<br>
  <input type="submit" value="Create new gym class">

</form>

<hr>
