<hr>
<h2>Members</h2>
<hr>

<table>
  <tr>
    <th>Name</th>
    <th>Membership Type</th>
    <th>Classes Booked</th>
    <th>Membership Details</th>
  </tr>
  <% for member in @members %>
  <tr>
      <td left = "center"><%= member.name %></td>
      <td align = "center"><%= member.membership_category %></td>
      <td align ="center"><%= member.gymclasses.count %></td>
      <td align = "center"><form action="/members/<%= member.id %>"><input type="submit" value="Member Details"></form></td>
  </tr>
  <% end %>
</table>

<hr>

<form action="/members/new"><input type="submit" value="New Member"></form>
