<hr>
<h2>Members</h2>
<hr>

<table>
  <tr>
    <th>Name</th>

    <th>Membership Type</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td left = "center"><a href="/members/<%= member.id %>"><%= member.name %></a></td>

    <td align = "center"><%= member.membership_category %></td>
  </tr>
  <% end %>
</table>

<hr>
