<form method="post" action="/members">

<label for="name">Name:</label>
  <input
  type="text"
  name="name"
  id="name"
  />
<br>
<br>
  <label for="age-field">Age:</label>
    <input type="number" name="age" id="age-field"/>
<br>
<br>
  <label for="gender">Gender:</label>
  <input type="radio" name="gender" value="Male"> Male
  <input type="radio" name="gender" value="Female"> Female
  <input type="radio" name="gender" value="Other"> Other
<br>
<br>
  <label for="membership_category">Membership Category:</label>
  <input type="radio" name="membership_category" value="Premium"> Premium
  <input type="radio" name="membership_category" value="Basic"> Basic
<br>
<br>
<br>
  <input type="submit" value="Submit Application">

</form>
