<form method="post" action="/bookedclasses">


  <h2>Class Booking</h2>
  <hr>

  <h4>Only members can sign up for classes!</h4>

  <label for="member_select">Member:</label>
    <select
    type="number" name="member_id" id="member_id"
    <% @members.each do |member| %>
    <option value="<%= member.id%>"> <%= member.name%></option>
    <%end%>
    </select>
  <br>
  <br>

    <label for="gym_select">Gym Class:</label>
      <select
      type="number" name="gymclass_id" id="gymclass_id"
      <% @gymclasses.each do |gymclass| %>
      <option value="<%= gymclass.id%>"> <%= gymclass.gymclass_name%></option>
      <%end%>
      </select>


<br>
<br>
    <input type="submit" value="Book Class!">

  </form>
