<hr>
<h2>Booking Failure!</h2>
<hr>
<p>Only members with premium membership can sign up to this class</p>

<form action="/gymclasses"><input type="submit" value="Return to class bookings"></form>
<hr>
