<hr>
<h2>Instructors</h2>
<hr>

<% for instructor in @instructors %>
<!-- <div class="container"> -->
<!-- <div class="box4"> -->
<img src="/Images/<%= instructor.instructor_name %>.png" alt = "image" style="width:128px;height:128px;" >

<!-- </div> -->

<!-- <div class="box5"> -->
  <h2><%= instructor.instructor_name%></h2>
  <h3>"<%= instructor.mantra%>"</h3>
<!-- </div> -->

<!-- <div class="box6"> -->
  <!-- <h2>Test</h2> -->
  <!-- </div> -->






<!-- </div> -->
<hr>
<%end%>
